<p><%= @user.employee.name %>,</p>

<p>For some reason, you have been removed as a user from the Creamery database. If this is a mistake, please contact your supervisor ASAP.<br />
</p>

<p>Sheila</p>