<h2>Welcome to the A&M Creamery!</h2><br>

<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span5">
    		A&M Creamery doesnt actually exist. haha. but here is the website that I created for it!
    	</div>
    	<div class="span7">
    	<%= image_tag 'warhol2.jpg', :class => "left" %>
    	</div>
    </div>
</div>