<h2><em>A&M Creamery</em></h2><br>

<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span5">
    		A&M Creamery was founded in the 1800's in Pittsburgh by
			two young boys named Alex and Mark Heimann. It has been
			passed down through the generations till this day, where
			they still maintain the same quality of ice cream and
			customer service that they did more than a century ago.
    	</div>
    	<div class="span7">
    	<%= image_tag 'creamery.jpg', :class => "left" %>
    	</div>
    </div>
</div>
