<h2>Contact Creamery</h2>

<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span5">
    		<p>	Please note that Sheila Chan is in no way affiliated with the 
				A&M Creamery. She was only hired to create their website...
				If you think the website she created is phenomenal, do not
				hesitate to contact her and offer her a summer internship.
			</p>
			
			<table cellpadding="3">
				<tr>
					<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
					<td>Sheila Chan</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
					<%= mail_to("sheilach@andrew.cmu.edu", "sheilach@andrew.cmu.edu", :encode => "javascript") %> 
					</td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>412-123-4567</td>
				</tr>
			</table>
    	</div>
    	<div class="span7">
    	<%= image_tag 'warhol.jpg', :class => "left" %>
    	</div>
    </div>
</div>