<h2>The Creamery Privacy Policy</h2>

<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span5">
			We have morals. We won't sell your personal information
			on the black market. Sit back, relax, and have a serving 
			of A&M's world famous sundaes.    	
		</div>
    	<div class="span7">
    	<%= image_tag 'warhol3.jpg', :class => "left" %>
    	</div>
    </div>
</div>